@model Models.Stat

<!DOCTYPE html>
<html>
<head>
    <link href="~/ListPlayers.css" rel="stylesheet" />
    <title>Stat</title>
</head>
<body>
    <h1>Statistics</h1>
    <a href="/">Back to the home page</a>
    <div class="container">
        <table>
            <thead>
                <tr>

                    <th>
                        League
                    </th>
                    <th>
                        Max rated Player
                    </th>
                    <th>
                        Player Count
                    </th>

                    <th>
                        League Count
                    </th>
                    <th>
                        Top Rated Team
                    </th>
                    <th>
                        Filtered Players
                    </th>
                    <th>
                        Best Weakfoot Squad
                    </th>

                </tr>
            </thead>
            <tr>
                <td>@Model.LegnagyobbLiga</td>
                <td> @Model.MaxRatingJatekos</td>
                <td> @Model.JatekosokSzama</td>
                <td> @Model.LeagueCount</td>
                <td> @Model.AvgRatingLeaguename</td>
                <td>@foreach (var item in Model.FilteredPlayers)
                {
                    @item.PlayerName 
                    <br />
                    <br />
                }      
                </td>   
                <td>
                    @Model.WeakFootTeam
                </td>

            </tr>
        </table>
    </div>

</body>
</html>
