@using Models
@model Player
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="~/ADD.css" rel="stylesheet" />
    <title>Update Player</title>
</head>
<body>

    <div class="container">

        <h2>Player Update</h2>

        <div class="form">

            <form action="/Home/UpdatePlayer" method="post">
                <p>Játékos neve:</p>
                <input type="text" name="PlayerName" value="@Model.PlayerName" />
                <br />
                <p>Nemzetiség:</p>
                <input type="text" name="Nationality" value="@Model.Nationality" />
                <br />
                <p>Rating:</p>
                <input type="number" name="Rating" value="@Model.Rating" />
                <br />
                <p>WeakFoot:</p>
                <input type="number" name="WeakFoot" value="@Model.WeakFoot" />
                <br />
                <input type="hidden" name="TeamID" value="@Model.TeamID" />
                <input type="hidden" name="IgazolasSzama" value="@Model.IgazolasSzama" />

                <input type="submit" value="Küldés" />




            </form>


        </div>
    </div>
</body>
</html>